@import "reset.css";

.hidden { /*QUIZ: Used to hide the previous button on first go*/
  display: none;
}

.selected { /*QUIZ: changes background color of selected answer*/
  background-color: pink;
}

.correct { /*QUIZ: shades correct answer row on results page*/
  background-color: green;
}

.incorrect { /*QUIZ: shades incorrect answer row on results page*/
  background-color: red;
}

p#question-text div+div { /*QUIZ: Adds some spacing to questions with multi-line answers*/
  margin-top: 15px;
}

p#question-text { /*QUIZ: spacing between p lines?*/
  margin-bottom: 15px;
}

article#quiz-content ol { /*QUIZ: Sets A, B, C for answers*/
  list-style: upper-alpha;
  list-style-position: inside;
}

article#quiz-content ol li+li { /*QUIZ: spaces answers a bit*/
  margin-top: 7.5px;
}

article#quiz-content ol li:hover { /*QUIZ: Set color on answer hover*/
  background-color: pink;
}

article#quiz-content ol li:active { /*QUIZ: Set color on answer click*/
  background-color: red;
}

/*body {
  margin: 0 auto;
  font-family: helvetica;
}*/

/*h1 {
  font-size: 50px;
}*/

/*form {
  background-color: white;
  margin: 0 auto;
  border: 5px solid black;
  margin: 20px 10px;
  padding: 10px;
}*/

/*article {
  border: 5px solid black;
  margin: 20px 10px;
  padding: 10px;
  width: 70%
}*/


/*legend {
  font-size: 30px;
  margin: 20px 5px;
  padding: 5px;
  background-color: red;
  color: white;
  width: 15%;
}*/

/*input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 0px;
    display: block;
    background-color: pink;
}*/

/*button {
   background-color: white;
   color: red;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}*/

/*.form-button {
  background-color: white;
  color: red;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}*/

/*#jli {
  display: inline;
}*/

/*#jh2 {
  float: left;
  display: inline;
  width: 10%;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 20.125%;
  margin-bottom: 30px;
}*/

/*#logout {
  float: right;
}*/

/*#loginbutt{
  margin-left: 45%;
  margin-right: 45%;
}*/

/*#password {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  background-color: pink;
}*/

/*#username {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  background-color: pink;
  align-self: center;
}*/

/*#userlabel {
  margin-left: 20%;
}*/

/*#passlabel {
  margin-left: 20%;
}*/

/*#navbar {
  border: 2px solid blue;
  padding: 40px;
  margin:auto;
  background-color: black;
}*/

/*.navitem , .navitem a, #logoutbutt{
  color: white;
  text-decoration: none;
  float: right;
  margin-left: 4%;
  width: 80px;
}*/

/*#userdisplay {
  color: white;
}*/

body {
  background-color: black;
}

a.anchor {
  display: block;
  position: relative;
  top: -190px;
  visibility: hidden;
}

body, form {
  font-family: 'Montserrat';
}

header, footer {
  height: 75px;
  background-color: black;
  font-family: 'Montserrat';
  font-size: 95%;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

nav#navbar {
  width: 960px;
  margin: 0 auto;
}

header img, footer img {
  width: 35px;
  vertical-align: middle;
  display: inline-block;
}

header h1 {
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-right: 255px;
}

nav ul {
  display: inline-block;
  height: 50px;
}

nav ul li {
  display: inline-block;
  color: white;
  padding-top: 15px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Montserrat';
  background:none;
  border:none;
  color: white;
  font-size: 100%;
  background-color: #c52e20;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
}

button:hover {
  background-color: #b0261a;
  cursor: pointer;
}

/*end header*/

main { /*fix fixed header gap*/
  padding-top: 75px;
}

div#index a div, div#index a+a+div {
  background-color: rgb(70, 70, 70);
  color: white;
}

div#index a div:hover {
  background-color: rgb(107, 107, 107);
}

div#index a+a div {
  background-color: white;
  color: black;
}

div#index a+a div:hover {
  background-color: rgb(200, 200, 200);
}

div#index article {
  width: 960px;
  margin: 0 auto;
  height: 200px;
}

div#index article h1 {
  text-align: center;
  font-size: 72px;
  padding-top: 60px;;
}

div#index article h2 {
  text-align: center;
  font-size: 48px;
  padding-top: 75px;;
}

/*end main button sections*/

div#index a+a+div {
  height: auto;
  padding-bottom: 75px;
}

div#index a+div article {
  height: auto;
}

div#index article ul li {
  display: inline-block;
  width: 300px;
  margin-right: 25px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  letter-spacing: .125em;
  line-height: 1.4em;
  vertical-align: top;
}

div#index article ul li p {
  padding-bottom: 25px;
}

div#index article ul li p:first-child {
  padding-top: 25px;
}

div#index article ul li:last-child {
  margin-right: 0px;
}

div#index article ul img {
  margin-top: 75px;
  border-radius: 50%;
  margin-bottom: 25px;
  width: 250px;
}

div#index h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

footer {
  position: inherit;
  text-align: center;
  color: white;
  padding-bottom: 15px;
  height: auto;
  letter-spacing: .25em;
  font-weight: normal;
}

footer img {
  padding: 15px 0;
}

#main {
  background-color: white;
}


/*login page*/
#login-main {
  background-color: rgb(70, 70, 70);
  height: 300px;
}

#header-login img {
  padding-top: 18px;
}

#header-login h1 {
  position: absolute;
  top: 23px;
}

#login-main form {
  width: 960px;
  margin: 0 auto;
  /*text-align: center;*/
}

#login-main label {
  color: white;
  letter-spacing: .125em;
  font-weight: normal;
}

#username-row {
  margin-top: 45px;
}

#pw-row {
  margin-top: 45px;
}

#pw-row {
  margin-bottom: 45px;
}

#loginbutt {
  padding: 10px 123px;
  letter-spacing: .125em;
}

#login-main fieldset {
  width: 300px;
  margin: 0 auto;
}

input[type=text], #password {
  width: 185px;
  height: 30px;
  font-size: 112.5%;
  padding-left: 2px;
}

#password {
  margin-left: 6px;
}

/*Make*/
#template-header {
  color: black;
  background-color: white;
  font-size: 72px;
  text-align: center;
  padding: 60px 0;
}

form#new-quiz {
  color: white;
  padding-top: 32px;
  background-color: rgb(70, 70, 70);
}

#new-quiz fieldset {
  width: 960px;
  margin: 0 auto;
}

#quizTitle {
  width: 250px;
  margin-right: 25px;
}

#quizDescription {
  width: 445px;
}

#new-quiz input {
  margin-bottom: 25px;
}

#entireQuizForm form label {
  margin-right: 5px;
}

hr+form {
  margin-top: 25px;
}

#entireQuizForm form input[type=text] {
  width: 450px;
}

#entireQuizForm form input[type=radio] {
  margin-left: 15px;
  margin-right: 5px;
}

#entireQuizForm form label+button {
  margin-left: 10px;
}

button[id*=a] {
  background-color: white;
  color: red;
  border: 2px solid red;
  font-size: 90%;
  padding: 5px 10px;
  border-radius: 0px;
}

button[id*=a]:hover {
  background-color: rgb(200, 200, 200);
}

button+hr {
  margin: 25px 0;
}

.form-button+.form-button {
  float: right;
  border-radius: 0px;
  border: 2px solid white;
}

#submit {
  float: right;
  color: red;
  background-color: white;
}

#newAnswer, #submit {
  margin-bottom: 25px;
}
