@import "reset.css";

/*Global*/

body {
  background-color: black;
}

a.anchor {
  display: block;
  position: relative;
  top: -190px;
  visibility: hidden;
}

body, form {
  font-family: 'Montserrat';
}

header, footer {
  height: 75px;
  background-color: black;
  font-family: 'Montserrat';
  font-size: 95%;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

nav#navbar {
  width: 960px;
  margin: 0 auto;
}

header img, footer img {
  width: 35px;
  vertical-align: middle;
  display: inline-block;
}

header h1 {
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-right: 255px;
}

header h1:hover {
  color: red;
}

header#header-login h1:hover {
  color: white;
}

nav ul {
  display: inline-block;
  height: 50px;
}

nav ul li {
  display: inline-block;
  color: white;
  padding-top: 15px;
  margin-left: 30px;
}

nav ul li:hover {
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

button, div#index input {
  font-family: 'Montserrat';
  background:none;
  border:none;
  color: white;
  font-size: 100%;
  background-color: #c52e20;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
}

button:hover, div#index input:hover {
  background-color: #b0261a;
  cursor: pointer;
}

/*end header*/

main { /*fix fixed header gap*/
  padding-top: 75px;
}

div#index a div, div#index a+a+div {
  background-color: rgb(70, 70, 70);
  color: white;
}

div#index a div:hover {
  background-color: rgb(107, 107, 107);
}

div#index a+a div {
  background-color: white;
  color: black;
}

div#index a+a div:hover {
  background-color: rgb(200, 200, 200);
}

div#index article {
  width: 960px;
  margin: 0 auto;
  height: 200px;
}

div#index article h1 {
  text-align: center;
  font-size: 72px;
  padding-top: 60px;;
}

div#index article h2 {
  text-align: center;
  font-size: 48px;
  padding-top: 75px;;
}

/*end main button sections*/

div#index a+a+div {
  height: auto;
  padding-bottom: 75px;
}

div#index a+div article {
  height: auto;
}

div#index article ul li {
  display: inline-block;
  width: 300px;
  margin-right: 25px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  letter-spacing: .125em;
  line-height: 1.4em;
  vertical-align: top;
}

div#index article ul li p {
  padding-bottom: 25px;
}

div#index article ul li a {
  color: black;
}

div#index article ul li a:hover {
  color: white;
}

div#index article ul li p:first-child {
  padding-top: 25px;
}

div#index article ul li:last-child {
  margin-right: 0px;
}

div#index article ul img {
  margin-top: 75px;
  border-radius: 50%;
  margin-bottom: 25px;
  width: 250px;
}

div#index h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

footer {
  position: inherit;
  text-align: center;
  color: white;
  padding-bottom: 15px;
  height: auto;
  letter-spacing: .25em;
  font-weight: normal;
}

footer img {
  padding: 15px 0;
}

#main {
  background-color: white;
}


/*login page*/

#login-main {
  background-color: rgb(70, 70, 70);
  height: 300px;
}

#header-login img {
  padding-top: 18px;
}

#header-login h1 {
  position: absolute;
  top: 23px;
}

#login-main form {
  width: 960px;
  margin: 0 auto;
  /*text-align: center;*/
}

#login-main label {
  color: white;
  letter-spacing: .125em;
  font-weight: normal;
}

#username-row {
  margin-top: 45px;
}

#pw-row {
  margin-top: 45px;
}

#pw-row {
  margin-bottom: 45px;
}

#loginbutt {
  padding: 10px 123px;
  letter-spacing: .125em;
}

#login-main fieldset {
  width: 300px;
  margin: 0 auto;
}

input[type=text], #password {
  width: 185px;
  height: 30px;
  font-size: 112.5%;
  padding-left: 2px;
}

#password {
  margin-left: 6px;
}


/*Template*/

#template-header {
  color: black;
  background-color: white;
  font-size: 72px;
  text-align: center;
  padding: 60px 0;
}

form#new-quiz {
  color: white;
  padding-top: 32px;
  background-color: rgb(70, 70, 70);
}

#new-quiz fieldset {
  width: 960px;
  margin: 0 auto;
}

#quizTitle {
  width: 250px;
  margin-right: 25px;
}

#quizDescription {
  width: 445px;
}

#new-quiz input {
  margin-bottom: 25px;
}

#entireQuizForm form label {
  margin-right: 5px;
}

hr+form {
  margin-top: 25px;
}

#entireQuizForm form input[type=text] {
  width: 450px;
}

#entireQuizForm form input[type=radio] {
  margin-left: 15px;
  margin-right: 5px;
}

#entireQuizForm form label+button {
  margin-left: 10px;
}

button[id*=a] {
  background-color: white;
  color: red;
  border: 2px solid red;
  font-size: 90%;
  padding: 5px 10px;
  border-radius: 0px;
}

button[id*=a]:hover {
  background-color: rgb(200, 200, 200);
}

button+hr {
  margin: 25px 0;
}

.form-button+.form-button {
  float: right;
  border-radius: 0px;
  border: 2px solid white;
}

#submit {
  float: right;
  color: red;
  background-color: white;
}

#submit:hover {
  background-color: rgb(200, 200, 200);
}

#newAnswer, #submit {
  margin-bottom: 25px;
}

/*Quiz*/

#quiz-main {
  color: black;
  background-color: white;
}

.hidden { /*QUIZ: Used to hide the previous button on first go*/
  display: none;
}

.selected { /*QUIZ: changes background color of selected answer*/
  color: red;
}

.right { /*QUIZ: shades correct answer row on results page*/
  color: green;
}

.wrong { /*QUIZ: shades incorrect answer row on results page*/
  color: red;
}

p#question-text div+div { /*QUIZ: Adds some spacing to questions with multi-line answers*/
  margin-top: 15px;
}

p#question-text { /*QUIZ: spacing between p lines?*/
  margin-bottom: 15px;
}

p#question-text:last-of-type {
  margin-bottom: 0;
}

article#quiz-content ol { /*QUIZ: Sets A, B, C for answers*/
  list-style: upper-alpha;
  list-style-position: inside;
}

article#quiz-content ol li+li { /*QUIZ: spaces answers a bit*/
  margin-top: 7.5px;
}

article#quiz-content ol li:hover { /*QUIZ: Set color on answer hover*/
  color: red;
  cursor: pointer;
}

article#quiz-content ol li:active { /*QUIZ: Set color on answer click*/
  color: red;
}

section#quiz ul li, section#quiz h2 {
  color: black;
}

section#quiz ul li {
  margin-bottom: 6.25px;
  font-size: 18px;
}

section#quiz ul li:hover {
  color: red;
  cursor: pointer;
}

section#quiz h2 {
  font-size: 24px;
  margin-bottom: 12.5px;
}

#quiz {
  background-color: white;
}

section#quiz article {
  width: 480px;
  display: inline-block;
  vertical-align: top;
  margin: 25px 0;
}

section#quiz {
  text-align: center;
}

#rendered-quiz, #quiz-results {
  width: 960px;
  margin: 25px auto 0;
  padding-bottom: 25px;
}

#next-button {
  margin-bottom: 25px;
}

h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

#quiz-content p, #quiz-content li {
  font-size: 18px;
}

#quiz-content ol {
  margin-top: 25px;
}

#previous-button {
  margin-right: 25px;
}

#question-text {
  border-bottom: 1px dashed black;
  margin-bottom: 0;
  padding-bottom: 25px;
  display: inline-block;
}

#quiz-results li h3+p, #quiz-results li h3 {
  display: block;
  border: none;
}

#quiz-results li {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}

#quiz-results li:last-of-type {
  border-bottom: none;
}

#quiz-results h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

#quiz-results h3:first-of-type {
  margin-bottom: none;
}

#quiz-results p {
  font-size: 18px;
}

#instructions ol {
  list-style: decimal;
  list-style-position: inside;
  width: 960px;
  margin: 25px auto;
  color: white;
  text-align: center;
  font-size: 125%;
}

#instructions ol li {
  margin-bottom: 12.5px;
}
